<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <div id="footer-container" class="link-style">
        <div>
            © Keshav Mathur. All Rights Reserved
        </div>
        <div class="links-container-ft">
            <div class="link-style">
                <a href="/">Home</a>
            </div>
            <% if(locals.user) {%>
            <div class="link-style">
                <a href="/users/profile/<%= locals.user._id%>">Profile</a>
            </div>
            <%}%>
        </div>
    </div>
</body>
</html>