<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/_header.css">
</head>

<body>
    <h1>Header stuff</h1>

    <% if(locals.user) { %>
    <div class="flex row start">
        <div class="grow"><a href="/users/profile"><%= user.name %></a></div>
        <div><a href="/users/sign-out">Sign Out</a></div>
    </div>
    <%} else { %>
    <div class="flex row start">
        <div class="grow"><a href="/users/signin">Sign In</a></div>
        <div><a href="/users/signup">Sign Up</a></div>
    </div>
    <% } %>


</body>

</html>