<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>

    <div id="header-container" class="flex row start">
        <div id="site-heading" class="grow">codeial</div>
        <% if(locals.user) { %>
        <div class="links-container">
            <div><a href="/users/profile/?uId=<%=user._id%>"><%= user.name %></a></div>
            <div><a href="/users/sign-out">Sign Out</a></div>
        </div>
        <%} else { %>
        <div class="links-container">
            <div><a href="/users/signin">Sign In</a></div>
            <div><a href="/users/signup">Sign Up</a></div>
        </div>
        <% } %>
    </div>




</body>

</html>