<div id="chatbox-section">
    <span class="rec-message-div">Recieved messageRecieved messageRecieved messageRecieved messageRecieved messageRecieved messageRecieved messageRecieved message</span>
    <span class="sent-message-div">Sent message</span>
    <span class="sent-message-div">Sent message</span>
    <span class="sent-message-div">Sent message</span>
    <form method="POST" action="" id="send-message-form">
        <input id="send-message-input-text" size="26" type="text" placeholder="Type message here...">
        <input id="send-message-btn" type="submit" name="send" value="Send">
    </form>
</div>