<link rel="stylesheet" type="text/css" href="/css/home.css">
<h1 id="website-header">Codeial Home Page: <%= title %></h1>

<main id="main-content">
    <section id="feed-posts">
        <h4>Posts</h4>
    
        <%  if(locals.user) { %> 
                <form id="new-post-form" action="/posts/create-post" method="POST">
                    <textarea name="content" cols="30" rows="4" placeholder="Type Here" required></textarea>
                    <button type="submit">Submit Post</button>
                </form>         
                <br>
             <% }
        %>
        
    
        <div id="posts-feed-container">
            <%  for(let i of posts) 
                {%>
                    <%- include("_post", {i:i}) %> 
                <%} 
            %>
        </div>
    </section>

    <section id="friends-container">
        <h4>Friends</h4>
        <% for(let user of userAll) {%> 
                <p><a href="/users/profile/?uId=<%=user._id%>"><%=user.name%></a></p>     
            <%} 
        %>
    </section>

    
</main>

<!-- using moment.js to format date -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/js/home.js" type="text/javascript"></script>
<script src="/js/dateFormat.js" type="text/javascript"></script>