<link rel="stylesheet" type="text/css" href="/css/signup.css">
<h1 id="website-header">Codeial: <%= title %></h1>
<main>
    <div class="forms-container flex row center">
        <div id="sign-in-div">
            <form action="/users/create-user" method="POST" id="sign-up-form" class="flex col center-al">
                <img id="welcome-img" src="/images/goku.png" alt="welcome">
                <div class="welcome-txt mar1">Adventure Awaits You</div>
                <input type="text" placeholder="Name" name="name" class="input-initial mar1 pad1" required>
                <input type="email" placeholder="Email" name="email" class="input-initial mar1 pad1" required>
                <input type="password" placeholder="Password" name="password" class="input-initial mar1 pad1" required>
                <input type="password" placeholder="Repeat Password" name="confirmPassword" class="input-initial mar1 pad1" required>
                <button id="btn-sign-in" type="submit" class="mar1 width90 pad1">Join Us</button>
                <div class="flex row start mb1">
                    <div class="link-desc">Already Have An Account?</div>
                    <a href="/users/signin" class="link-appearance">Sign In</a>
                </div>
            </form>
        </div>
    </div>
</main>
