#main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;

    #feed-posts{
        width: 70%;
        padding: 10px;

        #posts-feed-container{
            .single-post-container{
                margin-bottom: 3rem;
                background-color: lightblue;

                .item-delete-container{
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                }

                .single-comment-container{
                    margin-left: 2rem;
                    margin-bottom: 0.5rem;
                    background-color: lightgreen;
                }
            }
        }
        
    }
    #friends-container{
        width: 30%;
        padding: 10px;
        border: 1px solid lightslategray;
    }
}






.content{
    flex-grow: 1;
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.start{
    align-items: start;
}