body{
    h1{
        margin-left: 1rem;
    }
}

#main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#feed-posts{
    margin-left: 1rem;    
}

#posts-feed-container{
    .single-post-container{
        margin-bottom: 5rem;
    }
}

.single-comment-container{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.item-delete-container{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.content{
    flex-grow: 1;
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.start{
    align-items: start;
}