#main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;

    #feed-posts{
        width: 70%;
        padding: 10px;

        #posts-feed-container{

            .like-btn-img{
                height: 1.5rem;
                width: 1.5rem;
                padding: 0.5rem;
            }

            .like-btn-img:hover{
                cursor: pointer;
                height: 2rem;
                width: 2rem;
                padding-bottom: 0rem;
                padding-right: 0rem;
            }

            .like-text{
                padding: 0.75rem;
            }
            .like-count{
                padding: 0.75rem;
            }

            .single-post-container{
                margin-bottom: 3rem;
                background-color: lightblue;

                .item-delete-container{
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                }

                .single-comment-container{
                    margin-left: 2rem;
                    margin-bottom: 0.5rem;
                    background-color: lightgreen;
                }

                .like-container{

                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                }
            }
        }
        
    }
    #friends-container{
        width: 30%;
        padding: 10px;
        border: 1px solid lightslategray;
    }
}






.content{
    flex-grow: 1;
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.start{
    align-items: start;
}