#main-heading{
    flex-grow: 1;
}

body{
    background-color: lightblue;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.start{
    justify-content: start;
}

.start-al{
    align-items: flex-start;
}